body{
  font-family: 'Heebo', sans-serif;
  color: #fff;
  background-color: #000;
}

/* TYPOGRAPHY */

h1{
  font-size: 32px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.statement{
    font-size: 24px;
    line-height: 1.5;
}
@media screen and (min-width: 900px){
  h1{
    font-size: 72px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}

/* NAVIGATION BAR */

.main-nav{
  position: absolute;
  width: 100%;
  max-width: 1100px;
  height: 80px;
  top: 0;
  z-index: 36;
  margin: 0 auto;
}

.main-nav img{
  height: auto;
  width: 140px;
  margin: 16px;
}

/* CONSTRUCTION SITE */

.fade{
  opacity: 0;
  transform:translateY(5px);
  animation: fade 0.4s ease-out forwards;
  animation-delay: 1.8s;
  }

  @keyframes fade{
    to {
    opacity: 1;
    transform:translateY(0px);
    }
  }

.no-margin{
  margin: 8px 0;
}

.serif{
  font-family: 'Old Standard TT',Georgia, serif;
}


.flex-center{
  display: flex;
  align-items: center;
}

.construction{
  height: 100vh;
  text-align: center;
}

.circle{
  width: 20vw;
  min-width: 240px;
  margin-bottom: 16px;
}
